rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /battles/{battle} {
      allow read: if true;
      match /events/{event} {
      	allow create: if true;
      }
    }
    match /{document=**} {
    	allow read, write: if request.auth.uid == "8PWfCBMCXiXQ0vYTjqyCHF9rscn1";
    }
  }
}
